<template>
  <Card class="filterable-interns">
    <div class="filterable-interns__head">
      <SearchBox placeholder="Search for users..." />
      <CustomButton
        ><font-awesome-icon icon="plus" style="margin-right: 0.5em;" />Add
        User</CustomButton
      >
    </div>
    <InternsList :interns="interns" />
  </Card>
</template>

<script>
import { mapGetters } from 'vuex'

import Card from '~/components/ui/card'
import SearchBox from '~/components/ui/search-box'
import CustomButton from '~/components/ui/custom-button'
import InternsList from '~/components/interns-list'

export default {
  components: {
    Card,
    SearchBox,
    CustomButton,
    InternsList
  },
  computed: {
    ...mapGetters(['interns'])
  }
}
</script>

<style lang="scss">
.filterable-interns {
  .filterable-interns__head {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding-bottom: 1em;
    & > * {
      flex-grow: 1;
      margin: 0.5em 0;
    }
    border-bottom: 1px solid #f5f7f9;
    @media #{$md} {
      justify-content: space-between;
      & > :first-child {
        width: 25em;
      }
      & > * {
        flex-grow: 0;
      }
    }
  }
}
</style>
