<template>
  <div class="card">
    <slot />
  </div>
</template>

<style lang="scss">
.card {
  background-color: #fff;
  border-radius: 0.4em;
  padding: 1em;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.05);
}
</style>
