<template>
  <div class="custom-input">
    <div class="custom-input__label">{{ label }}</div>
    <input
      type="text"
      v-bind="{ value, name }"
      @input="$emit('input', $event.target.value)"
    />
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    value: {
      type: [String],
      default: ''
    }
  }
}
</script>

<style lang="scss">
.custom-input {
  position: relative;
  box-sizing: border-box;
  color: $black;
  .custom-input__label {
    font-weight: 600;
    margin: 0.8em 0;
  }
  input {
    border-radius: 0.25em;
    padding: 0.8em;
    border: 1px solid #aeb5bc;
    outline: none;
    width: 100%;
    box-sizing: border-box;
  }
}
</style>
