<template>
  <button class="custom-button"><slot /></button>
</template>

<style lang="scss">
.custom-button {
  background-color: $primary;
  border: 1px solid transparent;
  color: #fff;
  border-radius: 2em;
  padding: 0.8em 1.4em;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #fff;
    border: 1px solid $primary;
    color: $primary;
  }
}
</style>
