<template>
  <div class="paginator">
    <div class="paginator__wrap">
      <div
        class="paginator__item"
        :class="{ disabled: currentPage === 1 }"
        @click="$emit('change', currentPage - 1)"
      >
        <font-awesome-icon icon="angle-double-left" size="xs" />
      </div>
      <div
        v-for="value in pageCount"
        :key="value"
        :class="{ active: currentPage === value }"
        class="paginator__item"
        @click="$emit('change', value)"
      >
        {{ value }}
      </div>
      <div
        class="paginator__item"
        :class="{ disabled: currentPage === pageCount }"
        @click="$emit('change', currentPage + 1)"
      >
        <font-awesome-icon icon="angle-double-right" size="xs" />
      </div>
      <div class="clear"></div>
    </div>
  </div>
</template>

<script>
export default {
  model: {
    prop: 'currentPage',
    event: 'change'
  },
  props: {
    currentPage: {
      type: Number,
      default: 1
    },
    pageCount: {
      type: Number,
      default: 1
    }
  }
}
</script>

<style lang="scss">
.paginator {
  text-align: center;
  user-select: none;
  @media #{$lg} {
    text-align: left;
  }
  .paginator__wrap {
    display: inline-block;
  }
  .paginator__item {
    float: left;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: 600;
    background-color: white;
    color: $primary;
    box-shadow: 0 0 0px 1px #edeff2;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:first-of-type {
      border-radius: 0.2em 0 0 0.2em;
    }
    &:last-of-type {
      border-radius: 0 0.2em 0.2em 0;
    }
    &:hover {
      background-color: rgba(68, 149, 114, 0.08);
    }
    &.active {
      background-color: $primary;
      color: white;
    }
    &.disabled {
      color: #74808e;
      pointer-events: none;
    }
  }
}
</style>
