<template>
  <div class="search-box">
    <input
      type="text"
      v-bind="{ placeholder, value: searchWord }"
      class="search-box__input"
      @input="$emit('input', $event.target.value)"
    />
    <div class="search-box__icon"><font-awesome-icon icon="search" /></div>
  </div>
</template>

<script>
export default {
  props: {
    placeholder: {
      type: String,
      default: ''
    },
    searchWord: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss">
.search-box {
  position: relative;
  background-color: #f7f8f9;
  padding: 0.5em 3em 0.5em 1em;
  border-radius: 0.15em;
  .search-box__input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: bold;
    color: #6e757d;
    &::placeholder {
      color: #8f97a7;
    }
  }
  .search-box__icon {
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    svg {
      cursor: pointer;
      path {
        fill: #71777f;
      }
    }
  }
}
</style>
