@import './fonts.scss';

html {
  font-family: 'Open Sans';
  font-size: 4vmin;
  color: #ffffff;
  background-color: white;

  @media #{$md} {
    font-size: 18px;
  }
}

.clear {
  clear: both;
}

h1 {
  color: #555256;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
