$minim: '(max-width: 320px)';
$sm: '(min-width: 576px)';
$maxmd: '(max-width: 767px)';
$md: '(min-width: 768px)';
$lg: '(min-width: 992px)';
$maxlg: '(max-width: 991px)';
$xl: '(min-width: 1200px)';
$xxl: '(min-width: 1600px)';

$primary: #449572;
$black: #555256;

@mixin pseudo {
  display: block;
  position: absolute;
  content: '';
}
