<template>
  <table class="interns-list">
    <thead class="interns-list__head">
      <tr>
        <th class="head__avatar"></th>
        <th class="head__name">Full Name</th>
        <th class="head__action">Action</th>
      </tr>
    </thead>
    <tbody class="interns-list__body">
      <ListItem
        v-for="(intern, index) in interns"
        :key="index"
        :avatar-url="intern.avatar"
        :intern-name="`${intern.first_name} ${intern.last_name}`"
        :intern-id="intern.id"
        @action="payload => $emit('action', payload)"
      />
    </tbody>
  </table>
</template>

<script>
import ListItem from './list-item'
export default {
  components: {
    ListItem
  },
  props: {
    interns: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss">
.interns-list {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  .interns-list__head {
    color: #555256;
    text-align: left;
    .head__avatar,
    .head__action {
      width: 5em;
      @media #{$md} {
        width: 8em;
      }
    }
    th {
      height: 3em;
    }
  }
  .interns-list__body {
    tr:nth-child(even) td {
      background-color: white;
    }
  }
}
</style>
