<template>
  <tr class="list-item">
    <td class="list-item__avatar">
      <img :src="avatarUrl" alt="intern avatar" />
    </td>
    <td class="list-item__name">{{ internName }}</td>
    <td class="list-item__actions">
      <font-awesome-icon
        icon="trash"
        @click="$emit('action', { type: 'remove', id: internId })"
      />
      <font-awesome-icon
        icon="edit"
        @click="$emit('action', { type: 'edit', id: internId })"
      />
    </td>
  </tr>
</template>

<script>
import { mapActions } from 'vuex'

import * as types from '~/const/types'

export default {
  props: {
    avatarUrl: {
      type: String,
      default: require('@/assets/images/default-avatar.png')
    },
    internName: {
      type: String,
      default: 'intern'
    },
    internId: {
      type: Number,
      default: null
    }
  },
  methods: {
    ...mapActions({
      remove: types.REMOVE_INTERN
    })
  }
}
</script>

<style lang="scss">
.list-item {
  cursor: default;
  .list-item__avatar {
    padding: 0.5em;
    img {
      width: 3em;
      border-radius: 50%;
    }
  }
  .list-item__name {
    color: $black;
    font-weight: bold;
  }
  .list-item__actions {
    svg {
      margin-right: 1em;
      cursor: pointer;
      path {
        fill: #aeb5bc;
        transition: fill 0.2s ease-in-out;
      }
      &:hover {
        path {
          fill: $black;
        }
      }
    }
  }
  td {
    background-color: #f5f7f9;
    &:first-child {
      border-radius: 0.25em 0 0 0.25em;
    }
    &:last-child {
      border-radius: 0 0.25em 0.25em 0;
    }
  }
}
</style>
