<template>
  <div class="layout-wrap">
    <div class="container">
      <nuxt />
    </div>
  </div>
</template>

<style lang="scss">
.layout-wrap {
  background: #f5f7f9;
  min-height: 100vh;
  padding: 1em;
  box-sizing: border-box;
  .container {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
  }
}
</style>
