<template>
  <div>
    <h1>Add user</h1>
    <InternEdit />
  </div>
</template>

<script>
import InternEdit from '~/components/intern-edit'

export default {
  components: { InternEdit }
}
</script>
