<template>
  <div>
    <h1>Edit user</h1>
    <InternEdit :intern="intern" />
  </div>
</template>

<script>
import InternEdit from '~/components/intern-edit'

export default {
  components: { InternEdit },
  data() {
    return {
      intern: null
    }
  },
  mounted() {
    this.fetchIntern()
  },
  methods: {
    async fetchIntern() {
      const id = this.$route.query.id
      if (id) {
        const result = await this.$axios.$get(`/users/${id}`)
        this.intern = result.data
      }
    }
  }
}
</script>
