<template>
  <div>
    <h1>User list</h1>
    <Card class="filterable-interns">
      <div class="filterable-interns__head">
        <SearchBox v-model="searchWord" placeholder="Search for users..." />
        <nuxt-link to="/add-intern"
          ><CustomButton style="width: 100%;"
            ><font-awesome-icon icon="plus" style="margin-right: 0.5em;" />Add
            User</CustomButton
          ></nuxt-link
        >
      </div>
      <InternsList :interns="filteredInterns" @action="onAction" />
    </Card>
    <Paginator
      v-model="currentPage"
      :page-count="pageCount"
      style="margin: 1em 0;"
    />
  </div>
</template>

<script>
import Card from '~/components/ui/card'
import SearchBox from '~/components/ui/search-box'
import CustomButton from '~/components/ui/custom-button'
import InternsList from '~/components/interns-list'
import Paginator from '~/components/ui/paginator'

export default {
  components: { Card, SearchBox, CustomButton, InternsList, Paginator },
  data() {
    return {
      currentPage: 1,
      pageCount: 1,
      interns: { byId: {}, allIds: [] },
      searchWord: ''
    }
  },
  computed: {
    filteredInterns() {
      const filteredIds = this.interns.allIds.filter(id => {
        const intern = this.interns.byId[id]
        return `${intern.first_name} ${intern.last_name}`
          .toLowerCase()
          .match(RegExp(this.searchWord, 'gi'))
      })

      return filteredIds.map(id => this.interns.byId[id])
    }
  },
  watch: {
    currentPage: {
      handler() {
        this.fetchData()
      },
      immediate: true
    }
  },

  methods: {
    async fetchData() {
      const result = await this.$axios.$get(`/users?page=${this.currentPage}`)
      this.pageCount = result.total_pages
      this.interns = normalizeData(result.data)
    },
    onAction(payload) {
      switch (payload.type) {
        case 'remove':
          this.removeIntern(payload.id)
          break
        case 'edit':
          this.editIntern(payload.id)
          break
      }
    },
    removeIntern(idToRemove) {
      delete this.interns.byId[idToRemove]
      this.interns.allIds = this.interns.allIds.filter(id => id !== idToRemove)

      this.$axios.$delete(`/users?${idToRemove}`)
    },
    editIntern(id) {
      this.$router.push({
        path: '/edit-intern',
        query: { id }
      })
    }
  }
}

const normalizeData = data => {
  const normalizedData = { byId: {}, allIds: [] }
  for (const item of data) {
    normalizedData.byId[item.id] = item
    normalizedData.allIds.push(item.id)
  }
  return normalizedData
}
</script>

<style lang="scss">
.filterable-interns {
  .filterable-interns__head {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding-bottom: 1em;
    & > * {
      flex-grow: 1;
      margin: 0.5em 0;
    }
    border-bottom: 1px solid #f5f7f9;
    @media #{$md} {
      justify-content: space-between;
      & > :first-child {
        width: 25em;
      }
      & > * {
        flex-grow: 0;
      }
    }
  }
}
</style>
