<template>
  <Card class="avatar-edit">
    <div
      class="avatar-edit__preview"
      :style="{ backgroundImage: ` url(${avatarUrl})` }"
    ></div>
    <label class="avatar-edit__upload">
      <input type="file" @change="onFileChange" />
      <font-awesome-icon icon="camera" style="margin-right: 0.5em;" />Change
      Photo
    </label>
  </Card>
</template>

<script>
import Card from '~/components/ui/card'

export default {
  components: {
    Card
  },
  model: {
    prop: 'avatarUrl'
  },
  props: {
    avatarUrl: {
      type: String,
      default: ''
    }
  },
  methods: {
    onFileChange(e) {
      const file = e.target.files[0]
      this.$emit('change', file)
    }
  }
}
</script>

<style lang="scss">
.avatar-edit {
  text-align: center;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  .avatar-edit__preview {
    border-radius: 50%;
    width: 8em;
    height: 8em;
    margin: 0 auto;
    overflow: hidden;
    background-position: center;
    background-size: cover;
  }

  .avatar-edit__upload {
    display: block;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    border: 1px solid $black;
    border-radius: 0.25em;
    padding: 0.8em;
    color: #aeb5bc;
    outline: none;
    transition: all 0.2s ease-out;
    cursor: pointer;
    &:hover {
      background-color: $black;
      color: #fff;
    }
    input {
      position: absolute;
      visibility: hidden;
      width: 1px;
    }
  }
  & > * {
    margin: 1em 0;
  }
}
</style>
