<template>
  <div class="intern-edit">
    <AvatarEdit
      v-model="formData.avatarUrl"
      class="intern-edit__avatar"
      @change="updateAvatar"
    />
    <Card class="intern-edit__personal-data">
      <form v-if="!isLoading" key="form">
        <CustomInput
          v-model="formData.userName"
          v-validate="'required|min:3|max:100'"
          label="First Name"
          name="username"
          class="personal-data__input"
        />
        <CustomInput
          v-model="formData.userLastName"
          v-validate="'required|min:3|max:100'"
          label="Last Name"
          name="userlastname"
          class="personal-data__input"
        />
        <p class="personal-data__errormsg">
          {{ errors.items[0] && errors.items[0].msg }}
        </p>
        <CustomButton
          :class="{ disabled: !isValid }"
          class="personal-data__submit"
          @click.native.prevent="onSubmit"
          >Update Details</CustomButton
        >
      </form>
      <div v-else-if="isLoading" key="loader" class="personal-data__loading">
        <Loader :success="isSuccess" />
      </div>
    </Card>
  </div>
</template>

<script>
import AvatarEdit from './avatar-edit.vue'
import Card from '~/components/ui/card'
import CustomInput from '~/components/ui/custom-input'
import CustomButton from '~/components/ui/custom-button'
import Loader from '~/components/ui/Loader'

export default {
  components: {
    AvatarEdit,
    Card,
    CustomInput,
    CustomButton,
    Loader
  },
  props: {
    intern: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      formData: {
        userName: '',
        userLastName: '',
        avatarUrl: require('@/assets/images/default-avatar.png')
      },
      isLoading: false,
      isSuccess: null
    }
  },
  computed: {
    isValid() {
      return Object.keys(this.fields).every(field => {
        return this.fields[field] && this.fields[field].valid
      })
    }
  },
  watch: {
    intern: {
      handler() {
        if (this.intern) {
          this.formData.avatarUrl = this.intern.avatar
          this.formData.userName = this.intern.first_name
          this.formData.userLastName = this.intern.last_name
        }
      },
      immediate: true
    }
  },
  methods: {
    updateAvatar(file) {
      this.formData.avatarUrl = URL.createObjectURL(file)
    },
    async onSubmit() {
      try {
        this.isLoading = true
        this.isSuccess = null
        await this.doRequest()
        this.isSuccess = true
      } catch (e) {
        this.isSuccess = false
        console.error(e)
      }
      setTimeout(() => {
        if (this.isSuccess) {
          this.$router.push({
            path: '/'
          })
        }
      }, 2000)
    },
    doRequest() {
      if (this.intern) {
        return this.$axios.$patch(`/users/${this.intern.id}`, this.formData)
      } else {
        return this.$axios.$post('/users', this.formData)
      }
    }
  }
}
</script>

<style lang="scss">
.intern-edit {
  .intern-edit__personal-data,
  .intern-edit__avatar {
    margin: 1em 0;
  }
  .intern-edit__personal-data {
    .personal-data__submit {
      border-radius: 0.25em;
      margin-top: 1em;
      &.disabled {
        background-color: #aeb5bc;
        pointer-events: none;
      }
    }
    .personal-data__errormsg {
      width: 100%;
      margin-top: 1em;
      color: red;
    }
    .personal-data__loading {
      min-height: 10em;
      position: relative;
      height: 100%;
      & > * {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  @media #{$md} {
    display: grid;
    grid-template-columns: auto 15em;
    grid-column-gap: 2em;
    .intern-edit__avatar {
      order: 2;
      margin: 0;
    }
    .intern-edit__personal-data {
      margin: 0;
      order: 1;
    }
  }
  @media #{$lg} {
    grid-template-columns: auto 25em;
  }
  @media #{$xl} {
    grid-template-columns: auto 25em;
    .intern-edit__personal-data {
      form {
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        & > :first-child {
          padding-right: 1em;
        }
        & .personal-data__input {
          flex-grow: 1;
          width: 50%;
        }
        button {
          align-self: flex-end;
        }
      }
    }
  }
}
</style>
